<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <style>
        .text-strikethrough{
            text-decoration: line-through;
            color:grey;
        }
        .completed-bg {
            background-color: #d4edda; /* a soft green shade */
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="mt-5 text-center">
        Todo Application
    </h1>
    <form action="/" method="post" class="mt-4">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" name="title" placeholder="Add a todo ..." required>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
    <div class="mt-4">
        <th:block th:each="todo : ${todos}">
            <div class="card mb-2">
                <div th:classappend="${todo.isCompleted} ? 'completed-bg'" class="card-body d-flex justify-content-between align-items-center">
                    <span th:text="${todo.title}" th:classappend="${todo.isCompleted} ? 'text-strikethrough'">Todo title</span>
                    <div>
                        <a th:href="@{/{id}/toggle(id=${todo.id})}" class="btn btn-outline-secondary">Toggle</a>
                        <a th:href="@{/{id}/delete(id=${todo.id})}" class="btn btn-outline-danger">Delete</a>
                    </div>
                </div>
            </div>
        </th:block>
    </div>
</div>
</body>
</html>